    <footer class="footer">
	    <div class="container">
	        <nav class="pull-left">
	            <ul>
					<li>
						<a href="https://aitrify.be">
							BE0729794841
						</a>
					</li>
					<li>
					  <a rel="tooltip" title="Follow me on Twitter" data-placement="bottom" href="https://twitter.com/aitrify" target="_blank" class="btn btn-dark btn-simple btn-just-icon">
						<i class="fa fa-twitter"></i>
					  </a>
					</li>
					<li>
					  <a rel="tooltip" title="Follow me on Github" data-placement="bottom" href="https://github.com/t-thanh/" target="_blank" class="btn btn-dark btn-simple btn-just-icon">
						<i class="fa fa-github"></i>
					  </a>
					</li>
					<li>
					  <a rel="tooltip" title="Follow me on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/in/tienthanh/" target="_blank" class="btn btn-dark btn-simple btn-just-icon">
						<i class="fa fa-linkedin"></i>
					  </a>
					</li>
					<li>
					  <a rel="tooltip" title="Send me an email" data-placement="bottom" href="mailto:contact@aitrify.be" target="_blank" class="btn btn-dark btn-simple btn-just-icon">
						<i class="fa fa-envelope"></i>
					  </a>
					</li>
	            </ul>
	        </nav>
	        <div class="copyright pull-right">
	            &copy; 2019-<script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by 𝔸𝕀trify.
	        </div>
	    </div>
	</footer>
