<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
  <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{{ site.baseurl }}/">
            <div class="logo-container">
                  <div class="logo">
                      <img src="{{ site.avatar }}" alt="{{ site.name }} Logo" rel="tooltip" title="{{ site.description }}" data-placement="bottom" data-html="true">
                  </div>
                  <div class="brand">
                      {{ site.name }}
                  </div>


        </div>
          </a>
      </div>

      <div class="collapse navbar-collapse" id="navigation-index">
        <ul class="nav navbar-nav navbar-right">			
		{% if page.url == "/" %}
		<li class="nav-item active">
		{% else %}
		<li>
		{% endif %}
          <a href="{{ site.homeurl }}">
            <i class="material-icons">home</i>Home
          </a>
        </li>			
		<li>
          <a href="{{ site.baseurl }}/about/">
			<i class="material-icons">face</i>About
          </a>
        </li>
<!--
        <li>
          <a href="/landing">
            <i class="material-icons">flight_land</i> Landing
          </a>
        </li>
        <li>
          <a href="/post-list">
            <i class="material-icons">dashboard</i> Blog
          </a>
        </li>

-->
        <li>
          <a></a>
          
        </li>
        <li>
          <a rel="tooltip" title="Follow me on Twitter" data-placement="bottom" href="https://twitter.com/aitrify" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Follow me on Github" data-placement="bottom" href="https://github.com/t-thanh/" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a rel="tooltip" title="Follow me on LinkedIn" data-placement="bottom" href="https://www.linkedin.com/in/tienthanh/" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li>
		  <a rel="tooltip" title="Send me an email" data-placement="bottom" href="mailto:contact@aitrify.be" target="_blank" class="btn btn-white btn-simple btn-just-icon">
            <i class="fa fa-envelope"></i>
          </a>
        </li>

        </ul>
      </div>
  </div>
</nav>
<!-- End Navbar -->
